@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Sora";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("/fonts/Sora-Book.ttf");
}

@font-face {
	font-family: "Sora";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/Sora-Regular.ttf");
}

@font-face {
	font-family: "Sora";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/Sora-Medium.ttf");
}

@font-face {
	font-family: "Sora";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/Sora-Semibold.ttf");
}

@font-face {
	font-family: "Sora";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/Sora-Bold.ttf");
}

@font-face {
	font-family: "Sora";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("/fonts/Sora-Extrabold.ttf");
}
